:root {
    --change-grid: "a b";
    --grid-columns: "50% 50%";
}

body {
    padding: 0px;
    margin: 0px;
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: auto;
    grid-template-rows: 15vh auto 15vh;
    height: 100vh;
}

header {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 3em;
    grid-area: header;
    background: whitesmoke;
    padding: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    display: grid;
    grid-template-areas:
        "a a a a  ";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

main {
    grid-area: main;
    background: whitesmoke;
    padding: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    display: grid;
    grid-template-areas:
        "a b c"
        "d e f"
        "g h i";
    grid-template-columns: auto;
    grid-template-rows: auto;
    overflow: hidden;
}

footer {
    grid-area: footer;
    background: whitesmoke;
    padding: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    display: grid;
    grid-template-areas:
      var(--change-grid);
    grid-template-columns: var(--grid-columns);;
    grid-template-rows: auto;
}


#io {
    grid-area: e;
    margin: 0px;
    overflow: hidden;
    background-repeat: no-repeat;
}

#io:hover{
    color: gray;
}
#io2:hover{
    color: gray;
}

main div.panel {
    margin: 0px;
    font-size: 3em;
    padding: 2vw;
}


header button {
  display: none;
}


button {

    margin: 5px;
    border-style: solid;
    font-size: 0.5em;
    border-radius: 10px;

}


footer div.fadeOut {
    opacity: 0;
    transition: all ease 2s;
}

footer div {
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

button {
    width: auto;
}

#uhr {
  text-align: right;
}
.fa-pause{
  padding-left: 20px;
}
.fa-power-off {
  text-align: center;
}

.remoteButtons{
    width: 80px;
    height: 80px;
    background-color: #80808052;
}